/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/Dummy.iml
/.idea/libraries/Odin_SDK.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/OdinSdkConfig.xml
/.idea/vcs.xml
/.idea/zigbrains.xml
/bin/Dummy.exe
/.idea/.gitignore

/madventures.exe
/madventures.pdb
/TODO.txt
